PORT=3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/api_nodejs_db?schema=public"
MONGO_URI="mongodb://localhost:27017/api_nodejs_logs"
REDIS_URL="redis://localhost:6379"
NODE_ENV="development"
